.color {
    -fx-background-color: #c8c5c5;  
}

.textbox { 
    -fx-background-color: #c8c5c5; 
    -fx-text-fill: white;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: white;
}

.textbox:focused {
    -fx-border-color: #ffc200;
}

.submit_button {
    -fx-background-color: #ffc200;
    -fx-border-radius: 0;
}

.button:hover {
    -fx-background-color: #333232;
}